@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    background: rgb(199, 199, 199);
    background: linear-gradient(228deg, rgba(199, 199, 199, 1) 0%, rgba(41, 41, 41, 1) 100%);
    font-family: Nitti,Courier New,monospace;
    font-weight: 100;
}

.box-portada  {
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.box-portada #box-clase {
    display: inline;
    float: left;
    left: 0px;
    margin-left: 70px;
}

.box-portada div h1 {
    color: white;
    font-size: 5em;
    font-family: 'Cinzel', serif;
}

.box-portada #box-img{
    float: right;
    right: 0px;
    margin-right: 70px;
}

.box-portada #box-img img {
    padding-top: 50px;
    width: 150px;
}

.container {
    width: 100%;
    margin-top: 65px;
    justify-content: center;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

th {
    text-align: center;
}

thead th {

    background-color: #bd5454;

}

tbody tr:hover {

    background-color: rgba(255, 255, 255, 0.3);
}

tbody td:hover {
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

tbody td:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

tbody #identificador, tbody #anyo, tbody #borrar{
    text-align: center;
}

tbody #remove {
    width: 30px;
    text-align: center;
    filter: invert(100%) sepia(41%) saturate(0%) hue-rotate(200deg) brightness(108%) contrast(101%);
}

.box-input {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.box-input input {
    padding: 0.75em 0 0.88rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: transparent;
    background-clip: padding-box;
    border: 0 solid #ced4da;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    width: 400px;
    font-family: Nitti,Courier New,monospace;
}

.box-input #sinopsis {
    width: 810px;
}

.box-input #enviar {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background-color: #ced4da;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 300px;
    margin-left: 60px;
    transition: 1s;
}

.box-input #enviar:active {
    box-shadow: 0px 0px 0px 0px;
}

.box-input #enviar:hover {
    width: 320px;
}

.box-input input::placeholder {
    color: white;
    font-family: Nitti,Courier New,monospace;
}

#back {
    display: block;
    text-align: right;
    margin-right: 5px;
    margin-top: 5px;
}

#back img{
    width: 50px;
}